page-login {

    .width-100-percent {
        height: 100% !important;
    }

    .align-btn-center {
        justify-content: center;
    }

    .height-40-percent{
        padding-top: 40vh;
    }

    .login-bg {
        background-color: white;
    }

    .btn-color{
        background-color: #5D5179;
    }
    .header-color{
        background-color: #5D5179;
    }

    .logo-word {
        max-height: 100%;
        max-width: 100%;
    }
}
