<ion-header>
  <ion-navbar class="header-color" style="height: 60px">
    <ion-row style="height: 100%" justify-content-center>
      <img src="../../assets/logo/logo-1.png" col-4 class="logo-word">
    </ion-row>
  </ion-navbar>
</ion-header>
    <ion-grid>
        <ion-row>
            <ion-item>
                <ion-label> of Birth</ion-label>
                <ion-datetime displayFormat="MMM DD, YYYY" min="1994-03-14" max="2012-12-09" [(ngModel)]="firefoxReleased"></ion-datetime>
            </ion-item>
        </ion-row>
    </ion-grid>
