page-search {
    .bg-search{
        background-color: white;
    }
    .range-selector{
        font: 9px;
        background-color: #99CC99;
        font-weight: 9px;
    }

    .btn-full-width{
        background-color: $btn-background-color;
    }
}
