@import '../../theme/variables.scss';

page-search {

    .range-selector{
        font: 9px;
        font-weight: 9px;
    }

    .btn-full-width{
        background-color: color($colors, primary, base);
    }
}
