<ion-item-group>
    <ion-item-divider icon-start>
        <ion-icon name="book"></ion-icon>
        Educational details
    </ion-item-divider>
    <ion-item>
        <ion-label>
            Graduation
        </ion-label>
        <ion-label>
Pune University
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
            Intermediate
        </ion-label>
        <ion-label>
            Doon International School
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
             Senior Secondary
        </ion-label>
        <ion-label>
            Doon International School
        </ion-label>
    </ion-item>
</ion-item-group>
