<ion-item-group>
    <ion-list-header color="dark" icon-start>
        <ion-icon name="book"></ion-icon>
        Educational details
    </ion-list-header>
    <ion-item>
        <ion-label text-wrap>
            Graduation
        </ion-label>
        <ion-note  color="dark" item-end>
            Pune University
        </ion-note>
    </ion-item>
    <ion-item>
        <ion-label text-wrap>
            Intermediate
        </ion-label>
        <ion-note color="dark" item-end text-wrap>
            Doon International School
        </ion-note>
    </ion-item>
    <ion-item>
        <ion-label text-wrap>
             Senior Secondary
        </ion-label>
        <ion-note color="dark" item-end text-wrap>
            Doon International School
        </ion-note>
    </ion-item>
</ion-item-group>
