<ion-item-group>
    <ion-list-header color="dark" icon-start>
            <button ion-button icon-end color="dark" float-right (click)="onEdit()">
            <ion-icon name="build" ></ion-icon>
            </button>
        Educational details
    </ion-list-header>
    <ion-item>
        <ion-label text-wrap>
            Graduation
        </ion-label>
        <ion-note  color="dark" item-end>
            {{educational_details.graduation}}
        </ion-note>
    </ion-item>
    <ion-item>
        <ion-label text-wrap>
            Intermediate
        </ion-label>
        <ion-note color="dark" item-end text-wrap>
            {{educational_details.intermediate}}
        </ion-note>
    </ion-item>
    <ion-item>
        <ion-label text-wrap>
             Senior Secondary
        </ion-label>
        <ion-note color="dark" item-end text-wrap>
            Doon International School
        </ion-note>
    </ion-item>
</ion-item-group>
