page-login-form {
    .header-color{
        background-color: #0069ff;
    }

    .toolbar-background-md {
        background-color: #0069ff;
    }

    .logo-word {
        max-height: 100%;
        max-width: 100%;
    }

    .toolbar-background-ios {
        background-color: #0069ff;
    }
    .height-30-percent{
        padding-top: 30vh;
    }
}

