    <ion-list>
        <ion-list-header color="dark">
            <ion-icon name="thumbs-up"></ion-icon>
            Basic Information
        </ion-list-header>
        <ion-item>
            <ion-label>
                Name
            </ion-label>
            <ion-note item-end color="dark"> 
                Erin
            </ion-note>
        </ion-item>
        <ion-item>
            <ion-label>
                Age
            </ion-label>
            <ion-note item-end color="dark">
                25
            </ion-note>
        </ion-item>
        <ion-item>
            <ion-label>
                Current City
            </ion-label>
            <ion-note item-end color="dark">
                pune
            </ion-note>
        </ion-item>
    </ion-list>
